<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="za.co.lbnkosi.watchdog">

    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".splashscreen.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:label="" android:theme="@style/AppTheme2" />

        <activity android:name=".ui.logind.LoginActivity" android:label=""
            android:theme="@style/AppTheme2" />

        <activity android:name=".ui.verification.VerificationActivity" android:label=""
            android:theme="@style/AppTheme2" />

        <activity android:name=".ui.registration.RegisterActivity" android:label=""
            android:theme="@style/AppTheme2" />

        <activity android:name=".ui.introslider.WelcomeActivity" android:label=""
            android:theme="@style/AppTheme2" />

        <activity android:name=".utils.FingerprintActivity" android:label=""
            android:theme="@style/AppTheme2" />
        <activity android:name=".ui.navigationBar.Configure" />
        <activity android:name=".watchdog_service.LockActivity" />

        <service android:name=".watchdog_service.BackgroundService" />
        <service android:name=".watchdog_service.ForegroundService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">

            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".utils.DemoDeviceAdminReceiver"
            android:label="@string/app_name"
            android:description="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data android:name="android.app.device_admin"
                android:resource="@xml/device_admin_sample" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>